body {
    background-color: #28c9cb;
}

h1 {
    text-align: center;
    border-color: #fed361;
    border-width: 5px;
    border-style: solid;
    border-radius: 25px;
    background-color: #1fb0b0;
    color: white;
    padding: 10px;
}

.sun {
    width: 75%;
    display:block;
    margin:auto;
}

.circle {
    image-orientation: center;
}

#timer {
    text-align: center;
    background-color: #af2380;
    color: white;
    padding: 10px;
    font-family: bold;
    border-radius: 25px;
}

.player {
    text-align: center;
}

#teamscore {
    text-align: center;
    background-color: #af2380;
    color: white;
    margin: auto;
    width: 100%;
    padding: 10px;
    border-radius: 25px;
}

#picture {
    margin: auto;
    width: 100%;
    padding: 10px;
    border-radius: 25px;
    border-color: #1eb2b1;
    border-width: 30px;
    border-style: solid;
}

#userInput {
    text-align: center;
    background-color: #fdfdfd;
    color: black;
    margin: auto;
    width: 100%;
    padding: 10px;
    border-radius: 25px;
}

.wrapper {
    text-align: center;
}

.btn {
    position: absolute;
    top: 50%;
}